body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 2em;
}

main {
flex: 1 0 auto;
}

div.buttonWrapper {
    margin: 1em;
}

div.button {
    border: 3px solid black;
    border-radius: 5px;
    margin: 2.5%;
    width: 7%;
    height: 7%;
    text-align: center;
}

div.button:hover {
    background-color: purple;
    color: white;
}



    